@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}

body {
  font-family: 'Inter', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #EEE;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #DDD;
}

/* Prevent scroll chaining on the main layout */
main {
  overscroll-behavior: contain;
}
